// --- Fonts ---
// Source Sans Pro (400, 700)
$ssans: "Source Sans Pro", Arial, Helvetica, sans-serif;

// --- Semantic Fonts ---
$f-body: $ssans;

// --- Font Sizes ---
// 1rem = 10px
$fs-body: 2.4rem;
$fs-body--portrait: 1.6rem;
