* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input:not([type="submit"]),
textarea {
  font-family: $f-body;
}

body {
  @include general-responsivity(font-size, $fs-body);
  background: $c-body-bg;
  color: $c-primary;
  @include portrait-responsivity(font-size, $fs-body--portrait);
}

a,
.btn,
button,
input[type="submit"] {
  cursor: pointer;
  padding: 0;
  border: none;
  background: inherit;
  outline: none;
}

.btn,
button {
  display: block;
}

form {
  input,
  textarea {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    outline: none;
    max-width: 100%;
    max-height: 100%;
  }

  textarea {
    resize: none;
  }
}

// --- Project specific ---
section {
  @include general-responsivity(padding-top, 12.3rem);
  @include general-responsivity(padding-bottom, 12.3rem);
  padding-left: 0;
  padding-right: 0;
  @include portrait-responsivity(padding-top, 6.3rem);
  @include portrait-responsivity(padding-bottom, 6.3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  border-style: solid;
  border-color: $c-theme;
  color: $c-theme;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &:hover,
  &:focus {
    color: $c-white;
    border-color: $c-theme;
    background-color: $c-theme;
  }
}

strong {
  font-weight: 900;
}
